
h1 {
    color:#14293f;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 66px;
    -webkit-text-stroke: 1px black;

    
}

li 
{
    padding: 15px;
    font-size: xx-large;
    color: 	#2F4F4F;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:visited 
{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.description
{
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main
{   
    margin-left:2em;
    border-style: double;
    border-width: thick;
    border: 18px;
}

#image {
    position:absolute;
    left: 70em;
    top: 13em;

}

img  {
    height: 370px;
    width: 430px;
    border-radius:10px;
    margin:-3px;
}


a
{
    text-decoration: none;
}

html
{
    background-image: url(https://media.istockphoto.com/vectors/abstract-simple-geometric-vector-seamless-pattern-with-gold-line-on-vector-id1160720443?k=20&m=1160720443&s=612x612&w=0&h=tkTnYVL5jBOVK_wFgrixKsYzWVN7-x4AoEbg9ky7hoE=);

}

#smallpic
{
    height:300px;
    width:300px;
    border-radius:10px;
}


#myBlinkingDiv
{
    height: 400px;
    width: 800px;
}

#return
{
    position:absolute;
    top:20px;
    left:20px;
    width:100px;
    height:100px;
}

/* test comment included
